{% extends "account/base.html" %}

{% load i18n crispy_forms_tags user_perms %}

{% block head_title %}
  {% translate "Change Password" %}
{% endblock head_title %}
{% block inner %}
  <div id="password-change-form" class="container">
    <div class="page-wrapper d-flex justify-content-center">
      {% is_team_member request.user as team_member %}
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Welcome {{ request.user.first_name }}!</h1>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="user-actions" role="group" aria-label="User Actions">
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                 href="{% url 'users:me' %}"
                 role="button"><span>Account Home</span></a>
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                 href="{% url 'users:update' %}"
                 role="button"><span>Update
              Profile</span></a>
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                 href="{% url 'account_email' %}"
                 role="button"><span>Update
              E-Mails</span></a>
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline active"
                 href="{% url 'account_change_password' %}"
                 role="button"><span>Update
              Password</span></a>
              {% if team_member %}
                <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                   href="{% url 'users:token' %}"
                   role="button"><span>Update
                Token</span></a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col my-3 p-5 border rounded-4 bg-white">
            <div class="my-3 p-3 border rounded-4">
              <form method="post" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-buttons">
                  <button class="btn btn-primary mb-3" type="submit" name="action">{% translate "Change Password" %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock inner %}
