{% load static i18n %}

<div class="help-section container-fluid">
  <div class="row">
    <div class="col">
      <p class="help-text">
        Business or enterprise members may create unlimited teams shared across a pool of invited team members that
        limit access and management of document collections, scanners, curated recommendation lists, notes, and AI
        generated summaries
      </p>
      <p class="help-text">
        At any given time when viewing the site as a business or enterprise member you can easily switch between
        active teams that control the viewing context.  A private personal team is created by default on sign up
      </p>
    </div>
  </div>
</div>
