{% extends "base.html" %}

{% load static %}

{% block title %}
  Research Panel
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script defer src="{% static 'js/research-page.min.js' %}"></script>
{% endblock javascript %}
{% block css %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock css %}
{% block content %}
  {% include 'components/research_panel.html' %}
{% endblock content %}
