{% load static i18n %}

<div class="help-section container-fluid">
  <div class="row">
    <div class="col">
      <p class="help-text">
        We want to understand as much as possible in as little time as possible by leveraging AI-assistants that
        are able to dig into documentation and link knowledge across diverse domains to generate concise analysis
        and fresh ideas for consideration
      </p>
      <p class="help-text">
        We’re not building another “chatbot”, but something better; a way to combine human and AI insights into
        filterable and searchable timelines in a flexible automatable platform so your team can stay on the
        same page and evolve quickly
      </p>
    </div>
  </div>
</div>
