{% extends 'base.html' %}

{% block title %}
  Delete: {{ object.name }}?
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row bg-white rounded-5 page-wrapper d-flex justify-content-center">
      <div class="container">
        <div class="col">
          <form method="post">
            {% csrf_token %}
            <h2>Are you sure you want to delete "{{ object.name }}"?</h2>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
