{% extends 'base.html' %}

{% load static %}
{% load render_table from django_tables2 %}

{% block title %}
  Manage Contact Groups
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/outreach-manage-page.min.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <div class="container mt-5 pt-2">
    <div class="row bg-white rounded-5 page-wrapper d-flex justify-content-center">
      <div class="container">
        <div class="col">
          <h1>Contact Groups</h1>
          <div class="row">
            <div class="col">
              <a id="btn-add-contact"
                 href="{% url 'outreach:form_contact_group_create' %}"
                 class="btn btn-outline-primary my-3 float-end d-flex align-items-center"><i class="bx bx-plus"></i>Create Contact Group</a>
              <a id="btn-campaigns"
                 href="{% url 'outreach:campaign_list' %}"
                 class="btn btn-outline-primary me-3 my-3 float-end d-flex align-items-center"><i class="bx bx-broadcast"></i>Outreach Campaigns</a>
            </div>
          </div>
          <div class="row">
            <div class="col pt-3">{% render_table contact_groups %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
