{% load static i18n %}

<div class="help-section container-fluid">
  <div class="row">
    <div class="col">
      <p class="help-text">
        You can build knowledge repositories of documents related to your business or subjects of interest
        that can be used to help guide the AI-powered assistants in performing research for you
      </p>
      <p class="help-text">
        These document collections can be referenced to create continuous searches and combined with
        document information by the AI assistants when answering questions to help efficiently connect the dots
        and generate new ideas
      </p>
    </div>
  </div>
</div>
