///////////////
// Variables //
///////////////

// Sizes

$desktop-screen-size: 1024px;
$tablet-screen-size: 600px;
$mobile-screen-size: 360px;

// Fonts

$font-headings: 'Noto Sans', sans-serif;
$font-body: 'Noto Sans', sans-serif;

// Colors

$black: #000;
$white: #fff;
$offwhite: #f0f0f0;
$light-grey: #c3c3c3;
$med-grey: #777777;
$dark-grey: #303030;

$light-green: #f5ffec;
$dark-green: #0f5633;

$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$orange: #bd8c30;
$yellow: #f9f5ab;

$light-blue: #e6edff;
$bright-blue: #024bff;
$med-blue: #012d99;
$dark-blue: #1b1d52;

$logo-green: #00d6b5;
$logo-med-blue: #024bff;
$logo-dark-blue: #170c41;

$color-primary: $bright-blue;
$color-aqua: #61d3b6;
$color-aqua-light: rgba(97, 211, 182, 0.1);
$color-black-light: rgba(0, 0, 0, 0.3);
$color-medium-blue: #102c93;
$color-medium-blue: #102c93;
$color-dark-blue: #1c1d4f;
$color-bg-footer: #191919;

// Site Elements

$speed-transition: 0.2s !important;

$btn-outline: 2px;
