<div class="research-form-wrapper">
  <nav class="research-form-nav">
    <div class="nav nav-tabs" id="nav-{{ project.id }}-tab" role="tablist" aria-orientation="horizontal">
      <button class="user-setting nav-link first-nav"
              id="summary-tab"
              data-bs-toggle="pill"
              data-bs-target="#h-pills-{{ project.id }}-summary"
              data-user-setting="research_focus"
              data-user-value="summary"
              type="button"
              role="tab"
              aria-controls="h-pills-{{ project.id }}-summary"
              aria-selected="false">AI Research</button>
      <button class="user-setting nav-link last-nav active"
              id="note-tab"
              data-bs-toggle="pill"
              data-bs-target="#h-pills-{{ project.id }}-note"
              data-user-setting="research_focus"
              data-user-value="note"
              type="button"
              role="tab"
              aria-controls="h-pills-{{ project.id }}-note"
              aria-selected="true">Note</button>
    </div>
  </nav>
  <div class="tab-content h-100" id="h-pills-{{ project.id }}-tab-content">
    <div class="research-form-tab-wrapper tab-pane fade show active"
         id="h-pills-{{ project.id }}-note"
         role="tabpanel"
         aria-labelledby="h-pills-{{ project.id }}-note-tab">
      <div class="note-form-wrapper">{% include 'components/note_form.html' %}</div>
    </div>
    <div class="research-form-tab-wrapper tab-pane fade"
         id="h-pills-{{ project.id }}-summary"
         role="tabpanel"
         aria-labelledby="h-pills-{{ project.id }}-summary-tab">
      <div class="summarize-form-wrapper">{% include 'components/summary_form.html' %}</div>
    </div>
  </div>
</div>
