{% load static %}

<div class="summarize-form container">
  <div id="summary-container" class="summary-empty">
    <img class="summary-loading" src="{% static 'images/loading.gif' %}" alt="Loading..." />
    <div class="summary-loading summary-time">
      <h4>Researching...</h4>
      <br />
      <b><i>Depending on the volume of information this might take a few minutes</i></b>
      <br />
      <br />
      It is safe to navigate away from this page
      <br />
      <br />
      <hr />
    </div>
    <div class="row">
      <div class="col text-left">
        <a id="summary-expand" href="#" class="expand-link text-decoration-none text-left" title="Expand">
          <i class="bx bx-expand"></i>
        </a>
        <a id="summary-shrink" href="#" class="expand-link text-decoration-none text-left" title="Shrink">
          <i class="bx bx-exit-fullscreen"></i>
        </a>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-primary summary-reset-form-button px-5">New</button>
      </div>
    </div>
    <div class="row">
      <div class="col w-100">
        <div class="summary-text"></div>
        <div class="summary-reference-wrapper">
          <hr />
          <span class="summary-reference-label">Further Reading...</span>
          <div class="summary-references"></div>
        </div>
      </div>
    </div>
  </div>
  <form id="summary-form" class="form-horizontal">
    <div class="summary-form-fields">
      <div class="row">
        <div class="col-9 summary-prompt-label-wrapper mb-3">
          <b>Ask a question or type an instruction:</b>
          {% if show_summary_help %}
            <br />
            <i>The more detail the better</i>
          {% endif %}
        </div>
        <div class="col-3 summary-name-wrapper d-flex justify-content-end">
          <button type="button" id="summary-name-toggle-button" class="btn btn-light px-5 summary-name-button">Name</button>
        </div>
      </div>
      <input type="text" id="summary-name" class="form-control" minlength="4" maxlength="250" placeholder="Name" />
      <textarea autofocus required id="summary-prompt"></textarea>
      <div class="mx-3 mb-3">
        <input type="checkbox" id="summary-project-format" value="1" checked />
        <label for="summary-project-format">Use default project format instructions</label>
      </div>
      {% if show_summary_help %}
        <div class="form-help-text">
          <p>To format a good AI prompt that provides accurate and helpful answers, follow these guidelines:</p>
          <ul>
            <li>Ask specific and unambiguous questions, focusing on one topic at a time.</li>
            <li>Provide necessary context and background information, but avoid overwhelming details.</li>
            <li>Ensure that the prompt is grammatically correct and concise.</li>
          </ul>
        </div>
      {% endif %}
      <label for="summary-research-depth">
        <b>Research Depth:</b>
      </label>
      <input type="range" id="summary-research-depth" class="form-range" min="1" max="10" value="{{ default_summary_depth }}" />
      {% if show_summary_help %}
        <div class="form-help-text">
          <p>
            This will adjust the number of statements and passages from documents, notes, and previously generated summaries that are considered in the response.  Larger value means longer wait time and greater cost, but a deeper answer.
          </p>
        </div>
      {% endif %}
      <label for="summary-tags">
        <b>Tags:</b>
      </label>
      <select id="summary-tags" class="form-control" multiple="multiple">
        {% for tag in tags %}<option value="{{ tag.name }}">{{ tag.name }}</option>{% endfor %}
      </select>
      {% if show_summary_help %}
        <div class="form-help-text">
          <p>If you want to update tags later, just press the summarize button with the same prompt and different tags</p>
        </div>
      {% endif %}
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="button" id="summary-summarize-form-button" class="btn btn-primary px-5">Summarize</button>
        <button type="button" class="btn btn-primary summary-reset-form-button px-5">Reset Form</button>
      </div>
    </div>
    <input type="hidden" id="summary-id" value="" />
    <input type="hidden" id="summary-save-url" value="{% url 'research:save_summary' %}" />
  </form>
</div>
