{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  Nexical Explorer
{% endblock title %}
{% block content %}
  <div id="public-home-page">
    <div class="hero-banner d-flex justify-content-center bg-black">
      <div class="hero-banner-content row d-flex justify-content-center">
        <div class="hero-info col-md-5 p-5 p-md-3 text-center text-lg-start">
          <h1 class="display-6 fw-bold lh-1 mt-lg-5 mb-3"></h1>
          <hr />
          <p class="lead p-3"></p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
