{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static i18n %}

{% block title %}
  Nexical Knowledge Explorer - Signup
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/user-signup-page.min.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <div id="user-signup-page">
    <div class="hero-banner d-flex justify-content-center py-5 mb-3">
      <div class="hero-banner-content row d-flex justify-content-center">
        <div class="hero-info col-md-7 p-5 p-md-3 text-center text-lg-start">
          <h1 class="display-6 fw-bold lh-1 mt-lg-5 mb-3 text-center">Effortless Integrated Research</h1>
          <hr />
          <p class="lead p-3 text-center">
            <span class="emphasis">Save a lot of time</span> researching, analyzing, and generating relevant information
            across your organization so you can focus on more strategic initiatives,
            then <span class="emphasis">make that knowledge accessible</span>, and potentially <span class="emphasis">monetize it</span>.
          </p>
        </div>
      </div>
    </div>
    <div class="demo-section p-5">
      <div class="row px-5 d-flex justify-content-center">
        <div class="col-md-4 text-center">
          <iframe width="560"
                  height="315"
                  src="https://www.youtube.com/embed/videoseries?si=Y_3XRTsBugwXaMkl&amp;list=PLWnNfeZeNMTvDwHKTwr1pTPBjlJ9w3R6F"
                  title="Nexical Knowledge Explorer"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  allowfullscreen></iframe>
        </div>
        <div class="col-md-4 demo-message-wrapper text-center">
          <div class="demo-message text-center">
            Checkout a demo for a <b>knowledge glue</b> between the teams in your organization
          </div>
        </div>
      </div>
    </div>
    <div class="value-prop d-flex justify-content-center pt-5">
      <div class="value-prop-inner text-center">
        <h2>
          Nexical is an open source knowledge management and AI research platform
          <br />
          that focuses on...
        </h2>
        <div class="row d-flex flex-type-column justify-content-center py-5">
          <div class="col-md-3 d-flex flex-column justify-content-between">
            <div class="mb-auto">
              <div>
                <i class="value-icon bx bx-book-reader"></i>
              </div>
              <hr />
              <h3>Finding the information you need, when you need it</h3>
            </div>
            <div class="value-blurb mt-5">
              <div class="value-problem-blurb mb-5">
                <b>Over 80% of all information in most organizations</b> exists within unstructured formats
                making it difficult for employees to learn from it.
              </div>
              <hr />
              <b>We're simplifying research, knowledge generation, and sharing with your teams</b>
              by building an open AI research platform, integrating securely with your data, and extending to fit your needs, without the wait
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column justify-content-between">
            <div class="mb-auto">
              <div>
                <i class="value-icon bx bx-timer"></i>
              </div>
              <hr />
              <h3>Saving you valuable time to focus on more impactful activities</h3>
            </div>
            <div class="value-blurb mt-5">
              <div class="value-problem-blurb mb-5">
                <b>How much time per day</b> do you spend reading and researching topics for your business?
              </div>
              <hr />
              <b>Imagine the time you could save with virtual teams of AI research assistants that evolve with you</b>,
              in a private research platform, with pluggable AI systems, and connected with information you care about
            </div>
          </div>
          <div class="col-md-3 d-flex flex-column justify-content-between">
            <div class="mb-auto">
              <div>
                <i class="value-icon bx bx-money-withdraw"></i>
              </div>
              <hr />
              <h3>Making money from your data and knowledge instead of it draining your bank account</h3>
            </div>
            <div class="value-blurb mt-5">
              <div class="value-problem-blurb mb-5">
                <b>If AI is revolutionizing business and depends on data</b>,
                we need new innovative ways to share and monetize that important data.
              </div>
              <hr />
              You can easily <b>build and package collections of knowledge</b>,
              <b>share your managed knowledge collections with others</b>,
              and optionally <b>create your own monetized SaaS</b> with an integrated ecommerce system
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrapper bg-white d-flex justify-content-center">
      <div>
        <div class="list-intro-wrapper row d-flex justify-content-center">
          <div class="col-8">
            <p class="list-intro lead text-center">
              <strong>We're building an open AI platform</strong> that accelerates business productivity across your organization
            </p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-7">
            <ul class="list-group list-group-flush text-center mt-4">
              <li class="list-group-item">Focused on data privacy, auditability and security</li>
              <li class="list-group-item">Research efficiency with your internal data and systems</li>
              <li class="list-group-item">Extremely cost effective and avoiding vendor lock-in</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="comparison-table-wrapper d-flex justify-content-center p-5">
      <div class="comparison-table-inner text-center">
        <h2>How is Nexical different from other options in the AI ecosystem...</h2>
        <div class="row d-flex justify-content-center pt-5 px-5">
          <table class="comparison-table">
            <tr>
              <td></td>
              <td class="label">
                Total
                <br />
                Privacy
              </td>
              <td class="label">
                Open
                <br />
                Platform
              </td>
              <td class="label">
                Multi-Vendor
                <br />
                AI
              </td>
              <td class="label">Customizable</td>
              <td class="label">Inexpensive</td>
              <td class="label">
                <a href="#" class="explanation-link" data-ref="explanation-ref-1">
                  Knowledge
                  <br />
                  Hub
                </a>
              </td>
              <td class="label">
                Ready
                <br />
                Made
              </td>
              <td class="label">
                Web
                <br />
                Based
              </td>
              <td class="label">Teams</td>
              <td class="label">Projects</td>
              <td></td>
            </tr>
            <tr>
              <td class="label">
                <b>Nexical
                  <br />
                Knowledge Explorer</b>
              </td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="comment">
                Self hostable and customizable AI integration platform focused on research and knowledge management
              </td>
            </tr>
            <tr>
              <td class="label">
                <b>Proprietary AI companies</b>
                <br />
                <i>(OpenAI, Anthropic, ...)</i>
              </td>
              <td class="no-value">No</td>
              <td class="no-value">No</td>
              <td class="no-value">No</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-2">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-3">Limited</a>
              </td>
              <td class="no-value">No</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-4">Limited</a>
              </td>
              <td class="no-value">No</td>
              <td class="comment">Can be good API building blocks, but very limited non-customizable user interfaces</td>
            </tr>
            <tr>
              <td class="label">
                <b>Cloud hosting companies</b>
                <br />
                <i>(Google, AWS, Microsoft, ...)</i>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-5">Limited</a>
              </td>
              <td class="no-value">No</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-6">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-2">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-3">Limited</a>
              </td>
              <td class="no-value">No</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-4">Limited</a>
              </td>
              <td class="no-value">No</td>
              <td class="comment">Good for foundational resources to build upon depending on cost and privacy needs</td>
            </tr>
            <tr>
              <td class="label">
                <b>Specialized AI SaaS companies</b>
                <br />
                <i>(Perplexity, CopyAI, etc...)</i>
              </td>
              <td class="no-value">No</td>
              <td class="no-value">No</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-6">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-2">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-3">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-7">Limited</a>
              </td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-4">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-8">Limited</a>
              </td>
              <td class="comment">
                Good for specialized use cases, but not customizable or private, and don't make good integration platforms
              </td>
            </tr>
            <tr>
              <td class="label">
                <b>AI consultancies and agencies</b>
                <br />
                <i>(IBM, QuantumBlack, Upwork, ...)</i>
              </td>
              <td class="yes-value">Yes</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-9">Limited</a>
              </td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="no-value">No</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-9">Limited</a>
              </td>
              <td class="no-value">No</td>
              <td class="yes-value">Yes</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-9">Limited</a>
              </td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-9">Limited</a>
              </td>
              <td class="comment">Good if you need a completely custom solution, but it comes with a cost and time delay</td>
            </tr>
            <tr>
              <td class="label">
                <b>AI desktop applications</b>
                <br />
                <i>(Oobabooga, LlamaChat, ...)</i>
              </td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="yes-value">Yes</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-10">Limited</a>
              </td>
              <td class="yes-value">Yes</td>
              <td class="no-value">No</td>
              <td class="yes-value">Yes</td>
              <td class="limited-value">
                <a href="#" class="explanation-link" data-ref="explanation-ref-11">Limited</a>
              </td>
              <td class="no-value">No</td>
              <td class="no-value">No</td>
              <td class="comment">
                Good if you need to play around with different AI models, or for personal use, but limited in connectivity and team support
              </td>
            </tr>
          </table>
          <div class="comparison-explanations d-none">
            <span id="explanation-ref-1">When we refer to a knowledge hub, we are describing a UI and API driven knowledge management system, not chatbot or database only systems</span>
            <span id="explanation-ref-2">These services are normally limited to customization through API integrations with other apps</span>
            <span id="explanation-ref-3">These services relative value and expense is determined by how they are used</span>
            <span id="explanation-ref-4">These services either implement teams at higher subscription tiers or for administrative use</span>
            <span id="explanation-ref-5">These services may occasionally provide a physical hosting option, such as AWS Outposts, usually at a premium price</span>
            <span id="explanation-ref-6">These services support a limited set of AI providers, and you can not add new ones</span>
            <span id="explanation-ref-7">There are a few services like Perpexity that seek to create public search engines with summarization, but most are wrapper chatbots or AI bolt-ons to existing products</span>
            <span id="explanation-ref-8">Some AI SaaS services may implement project based workflows, but many don't</span>
            <span id="explanation-ref-9">You can find someone to build you what you want, but many AI agencies are focused on wrapping a few services and AI providers into simple chatbots</span>
            <span id="explanation-ref-10">Most of these applications are open source and can be customized, and the ease of customization depends on the architecture</span>
            <span id="explanation-ref-11">Some of these applications can run a local server and could be made web accessible, but they are mainly made for personal use</span>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrapper d-flex justify-content-center">
      <div class="container row">
        <div class="col-md-6 d-flex justify-content-center">
          <div>
            <h2 class="text-center">Our Advantage</h2>
            <div class="advantage-card card">
              <h3>Complete Data Privacy</h3>
              <hr />
              <ul>
                <li>Full control over data handling and AI models</li>
                <li>Complete auditability of the applications, AI systems, and platform</li>
                <li>Deployed on-premises or in private clouds, so your tech and security teams maintain full control</li>
              </ul>
            </div>
            <div class="advantage-card card">
              <h3>Integrated AI Models and Services</h3>
              <hr />
              <ul>
                <li>Provide a diverse range of data and insights yielding comprehensive research outcomes</li>
                <li>AI models can be scoped to projects based on purpose or security required</li>
              </ul>
            </div>
            <div class="advantage-card card">
              <h3>Knowledge Management</h3>
              <hr />
              <ul>
                <li>Instead of building chatbots we're growing knowledge-bases and making them accessible</li>
                <li>Generate organizational knowledge while ensuring accuracy to end users</li>
              </ul>
            </div>
            <div class="advantage-card card">
              <h3>Rapid Development</h3>
              <hr />
              <ul>
                <li>Building on a developed core research platform we eliminate costly custom development across solutions</li>
                <li>Instead of being locked into a closed SaaS you can craft your own platforms over time and link them</li>
              </ul>
            </div>
            <div class="advantage-card card">
              <h3>AI Assistant Development Framework and Hosting Environment</h3>
              <hr />
              <ul>
                <li>Easy to develop and deploy specialized AI agents constantly working for your organization</li>
                <li>Modular architecture that grows and evolves with your needs</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5 pt-5">
          <div class="rounded-5 p-4 border">
            <div class="signup-disclaimer my-4 rounded-5">
              <p>
                <strong>This is a demo environment of our Nexical Core AI Research platform</strong>, and is not meant as a production research platform itself.
              </p>
              <p>
                We offer to provide you the code to self host in your IT environment or we can host a private instance for you.
                We do not currently offer a shared production environment, for data privacy and security reasons.
              </p>
            </div>
            <div class="container bg-white rounded-5 d-flex justify-content-center p-5">
              <div id="user-signup-form" class="container">
                <div class="text-center w-100">
                  <h1>
                    Create a free account
                    <br />
                    to give it a try...
                  </h1>
                </div>
                <hr />
                <form class="form-horizontal" method="post">
                  {% csrf_token %}
                  <div class="form-fields">
                    <div class="form-names row">
                      <div class="name col">{{ form.first_name|as_crispy_field }}</div>
                      <div class="name col">{{ form.last_name|as_crispy_field }}</div>
                    </div>
                    <hr />
                    <div class="form-email row">{{ form.email|as_crispy_field }}</div>
                    <div class="form-passwords row">
                      <div class="password col">{{ form.password|as_crispy_field }}</div>
                      <div class="password col">{{ form.confirm_password|as_crispy_field }}</div>
                    </div>
                    <hr />
                    <div class="invite-info row">
                      <div class="invite-code col">{{ form.invite_code|as_crispy_field }}</div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-primary">Join Now</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container py-4 d-flex justify-content-center">
      <div class="security-privacy row mb-5">
        <div class="feature col-10 px-md-5 m-auto text-center">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3 mt-5">
            <img class="icon-shield" src="{% static 'images/icons/icon-shield.svg' %}" alt="" />
          </div>
          <h3 class="fs-2 text-body-emphasis mb-3">We value your privacy</h3>
          <p class="lead mt-5">
            Your profile information and all assets you share with the service are secured, never shared,
            and are used <strong>ONLY</strong> by our AI assistants to respond to your instructions
          </p>
          <p class="lead mt-1">
            On this site, <strong>we do not use your personal or business information and assets to train our AI models</strong>,
            but the AI responses evolve over time based on your research
          </p>
        </div>
      </div>
    </div>
    <div class="page-wrapper bg-white d-flex justify-content-center">
      <div>
        <div class="list-intro-wrapper row d-flex justify-content-center">
          <div class="col-8 list-intro">
            <p class="lead text-center">
              <strong>We're still getting Nexical ready for a wider public release</strong>
              but we will be working on getting the project ready for the community in the coming weeks.
            </p>
            <p class="lead text-center">
              <strong>If you are an organization with skilled Python / Django talent in-house or a die hard open source contributor</strong>
              we'd love to hear from you and get your advice as we package the platform for the community.
            </p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-7 text-center py-5">
            <h3>We are releasing...</h3>
            <ul class="list-group list-group-flush mt-4">
              <li class="list-group-item">
                This Python / Django based Nexical Core Knowledge Explorer Interface <i>(UI and API)</i>
              </li>
              <li class="list-group-item">
                A Python / Django based backend data integration, and multi-agent operating system / development framework
              </li>
              <li class="list-group-item">Various Python / YAML modules for the multi-agent operating system</li>
              <li class="list-group-item">
                A Kubernetes and ArgoCD based CI/CD driven deployment platform that integrates the various components across cloud providers
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col-8 text-center py-5">
            <h3 class="text-center">
              If you would be interesting in collaborating, contributing to, supporting this project,
              <br />
              or getting notified when we release to the community,
              <br />
              <a href="{% url 'contact' %}">let us know</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-section pt-5">
      <div class="row d-flex justify-content-center">
        <div class="container question-section p-4 px-md-5 mx-auto text-center">
          <h1 class="page-section-title my-3">Got Questions?  Get In Touch</h1>
          <div class="row mt-6 p-2">
            <div class="col-md-6 p-3">
              <a href="{% url 'contact' %}" class="btn btn-primary btn-lg mt-4 p-4">Use Our Contact Form</a>
            </div>
            <div class="col-md-5 py-5 px-5">
              <p>
                <b>Or you can always chat with us</b> <i>(real humans)</i> through the chat launcher
                located on the bottom right portion of the screen
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
