{% extends "base.html" %}

{% load crispy_forms_tags user_perms %}

{% block title %}
  Update: {{ user.first_name }} {{ user.last_name }}
{% endblock title %}
{% block content %}
  <div id="user-profile-form" class="container">
    <div class="page-wrapper d-flex justify-content-center">
      {% is_team_member object as team_member %}
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Welcome {{ object.first_name }}!</h1>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="user-actions" role="group" aria-label="User Actions">
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                 href="{% url 'users:me' %}"
                 role="button"><span>Account Home</span></a>
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline active"
                 href="{% url 'users:update' %}"
                 role="button"><span>Update
              Profile</span></a>
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                 href="{% url 'account_email' %}"
                 role="button"><span>Update
              E-Mails</span></a>
              <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                 href="{% url 'account_change_password' %}"
                 role="button"><span>Update
              Password</span></a>
              {% if team_member %}
                <a class="btn group-btn align-middle btn-outline-primary mx-1 my-2 my-lg-0 d-block d-lg-inline"
                   href="{% url 'users:token' %}"
                   role="button"><span>Update
                Token</span></a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="my-3 p-3 border rounded-4 bg-white">
              <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-buttons text-align-center">
                  <button type="submit" class="btn btn-primary mb-5">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
