{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Nexical Explorer
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Nexical Explorer" />
    <meta name="author" content="Nexical AI" />
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" />
    {% block css %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
      <link href="{% static 'css/project.min.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block javascript %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script defer src="{% static 'js/vendors.min.js' %}"></script>
      <script defer src="{% static 'js/project.min.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="{% if request.user.is_authenticated %}loggedin{% else %}anonymous{% endif %}">
    <div class="overlay-mobile animate__animated__fast"></div>
    {% include 'components/header.html' %}
    {% include 'components/left_nav.html' %}
    <main>
      <div id="page-container">
        {% block wrapper %}
          <div id="page-content-wrapper" class="content-wrapper">
            <div id="main-content">
              {% include 'components/messages.html' %}
              {% block content %}
              {% endblock content %}
            </div>
          </div>
        {% endblock wrapper %}
      </div>
      <input type="hidden" id="csrf-token" value="{{ csrf_token }}" />
      <input type="hidden" id="user-settings-url" value="{% url 'users:settings' %}" />
      <input type="hidden" id="user-settings-save-url" value="{% url 'users:save_settings' %}" />
    </main>
    {% block modal %}
    {% endblock modal %}
    <div id="outer-help">
      {% if request.user.is_authenticated %}
        {% include 'components/help_bubble.html' %}
      {% endif %}
    </div>
    {% include 'components/footer.html' %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
    <script type="text/javascript" id="zsiqchat">
        var $zoho = $zoho || {};
        $zoho.salesiq = $zoho.salesiq || {
            widgetcode: "siqf02f51a8289b28c13b114f986a565a8db16550b78d3ba531b3bac079c1da4f3f",
            values: {},
            ready: function() {}
        };
        var d = document;
        s = d.createElement("script");
        s.type = "text/javascript";
        s.id = "zsiqscript";
        s.defer = true;
        s.src = "https://salesiq.zohopublic.com/widget";
        t = d.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(s, t);
    </script>
    {% if request.user.is_authenticated %}
      <script>
          aa $zoho.salesiq.ready = function() {
              $zoho.salesiq.visitor.id("{{ request.user.id }}");
              $zoho.salesiq.visitor.email("{{ request.user.email }}");
              $zoho.salesiq.visitor.name("{{ request.user.first_name }} {{ request.user.last_name }}");
              $zoho.salesiq.visitor.info({
                  "organization": "{{ request.user.organization }}",
                  "position": "{{ request.user.position }}"
              });
          }
      </script>
    {% endif %}
  </body>
</html>
